{% load comments i18n widget_tweaks %}
<div class="comment-form media">
  <img class="pull-left" src="{{ user.avatar_url }}" class="user-thumb" width="50" />
  <div class="media-body">
    <form action="{% comment_form_target %}" method="post">
      {% include 'form_boilerplate.html' %}
      {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
      <p class="hidden">{{ form.honeypot }}</p>
      {% block comment_input %}<p>{{ form.comment|add_class:"comment-input" }}</p>{% endblock %}
      <span class="help-inline text-success" id="counter"></span>
      <p class="submit">
        {% block submit_button %}<input type="submit" name="post" data-loading-text="{% trans 'Uploading..' %}" class="btn btn-primary" value="{% trans 'Answer' %}" />{% endblock %}
      </p>
    </form>
  </div>
</div>